[color]
	ui = true
	branch = auto
	diff = auto
	log = auto
	interactive = auto
	status = auto
	pager = true
[user]
	name = Christy O'Reilly
	email = christy@oreills.co.uk
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
        default = tracking
[merge]
        defaultToUpstream = true
