[submodule ".tmux/tmux-extra"]
	path = .tmux/tmux-extra
	url = git@github.com:c-oreills/tmux-extra.git
[submodule ".stderred"]
	path = .stderred
	url = git://github.com/sickill/stderred.git
[submodule ".clojurescript"]
	path = .clojurescript
	url = git://github.com/clojure/clojurescript.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
